<div style="background-color: powderblue;height: 800px;" class="row col-md-12"><br><br>
<div class="col-md-5 card card-body float-left mt-4" [class.bg-light]="isApplicable" style="background-color: cornsilk;margin-left: 40px" >
    <!-- Class Binding -->
  <h3 class="text-center">{{name}}</h3>        
  <!-- String Interpolation -->
  <img [src]="image" alt="">
  <!-- Property Binding -->
  <h3 [style.color]="color" class="text-center">{{imagename}}</h3>
  <!-- Style Binding and String Interpolation -->
  <table border="1px solid black">
      <tr>
          <th [attr.colspan]="number">Index</th>
          <th>Name</th>
          <th>Color</th>
      </tr>
      <tr>
          <td>{{index}}</td>
          <td>A</td>
          <td>{{name}}</td>
          <td>{{color}}</td>
      </tr>
  </table>
  <br>
  <input type="text" name="name" id="" #input> 
  {{input.value}}
  <!-- Template Refernce variable -->
  <br>
  <button type="button" class="btn btn-outline-success" (click)="send(input.value)">Send</button><br>
  <button  type="button" class="btn btn-outline-info" (click)="sendData()" >Submit</button>
<br>

</div>                           
<div class="col-md-5 offset-md-1 card card-body mt-4"  style="height:400px;background-color: cornsilk;">
<app-revision3 [data]="name" (event)="img=$event"></app-revision3>
</div>
<img [src]="img" alt="">
</div>
