<div class="div">
    <div class="container" style="backgroumd-color:powderblue;">
        <div class="col-md-3 mt-3 offset md-1 float-left" >
            <div class="card card-body" *ngFor="let recipie of recipies">
                
                <img src="{{recipie.img}}" alt="" (click)='sendData(recipie)' style="height:150px;">
                <h4 class="card-title">{{recipie.brand}}</h4>
            
            </div>
        </div>
        <app-recipiedetails [recipieDetails]='recipieData'></app-recipiedetails>
    </div>
</div>
        
        
