<div style="background-image:url('http://s3.amazonaws.com/static.myregistry.com/cm/ManagerMisc/social_wedding.jpg');background-repeat: no-repeat;background-size:cover;height:1600px;">
<div class="col-md-12">
    <div class="col-md-4 float-left mt-5" *ngFor="let user of Users">
        <h2 style="color:white">&nbsp; {{user.title}}</h2>
        <a href="productdetail"><img src="{{user.image}}" alt=" " style="width:300px;height:250px;border-radius: 20px;"></a>
        <br><br>
        <h5 style="color:black;font-weight:bold;">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;{{user.description}}</h5>
    </div>
</div>
</div>